body {
  background: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-header {
  background-color: blueviolet;
  color: #fff;
}

#navbar {
  background-color: #333;
  color: #fff;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding-right: 20px;

}

#focus {
  background: url("../images/bgimage1.jpg") center/cover no-repeat;
  min-height: 300px;
  text-align: center;
  margin-bottom: 30px;
}

#focus h1 {
  color: #fff;
  font-size: 50px;
  line-height: 1.6em;
}

#main {
  float: left;
  width: 70%;
  padding: 0 10px;
  box-sizing: border-box;
}

#main h1:hover {
  background: purple;
  cursor: pointer;
}

#sidebar {
  float: right;
  width: 30%;
  background: #333;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

#main-footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 30px;

}

@media (max-width: 600px) {
  #main {
    float: none;
    width: 100%;
  }

  #sidebar {
    float: none;
    width: 100%;
  }
}
